{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            {% if object %}Редактирование{% else %}Создание{% endif %} продукта
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}